@charset "utf-8";
body {
	position: relative;
	margin:0;
	padding:0;
	width:100%;
	color:#6d6d6d;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#D8D8D8;
}
html, .main {
	position: relative;
	padding:0;
	margin:0;
}
.main {
		
}
.logobg{
	background:#96010D;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;	
}
.header {
	background:#ffffff;
	position: relative;
}

.header_resize {
	margin:0 auto;
	padding:0;
	width:auto;
}
.customer_connect{
	width: auto;
	height: 25px;
	background: #D8D8D8;	
}
.logo {	
	width:auto;
	float:left;	
	margin: 0 auto 0 100px;	
	position: relative;
}
.logobar{
	background-color:#000;
	size:100%;
}
.menu_nav {
	margin:20px 250px 0 0;
	padding:0;
	height:90px;	
	float:right;
	position: relative;
	z-index: 100000;
}
.menu_nav ul {
	list-style:none;
	padding-bottom:0;
	height:60px;
	float:left;
	background:url(../image/menu_split.gif) no-repeat left top;
}
.menu_nav ul ul {
	display: none;
}
	.menu_nav ul li:hover > ul {
		display: block;
	}
.menu_nav ul {	
	position: relative;
	display: inline-table;
}
	.menu_nav ul:after {
		content: ""; clear: both; display: block;
	}
.menu_nav ul li {
	float: left;
}
	.menu_nav ul li:hover {
		background: #96010D;
		
	}
		.menu_nav ul li:hover a {
			color: #ffffff;
		}
	
	.menu_nav ul li a {
		display: block; padding: 25px 40px;
		color: #96010D; text-decoration: none;
	}
.menu_nav ul ul {
	background: #96010D; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	.menu_nav ul ul li {
		float: none; 
		background: #96010D;
		border-top: 1px solid #000000;
		border-left: 1px solid #000000
		border-bottom: 1px solid #000000;
		position: relative;
	}
	.menu_nav ul ul li ul {
	border-radius: 0px; 
	margin-top: 0px;
	position: absolute; 
	top:0%;
	display:none;
	margin-left:300px;
	}
	.menu_nav ul ul ul li {
		float: none; 
		border-top: 1px solid #000000;
		border-left: 1px solid #000000
		border-bottom: 1px solid #000000;
		position: relative;
		margin-left:-30px;
	}
		.menu_nav ul ul li a {
			padding: 15px 40px;
			color: #ffffff;			
		}	
			.menu_nav ul ul li a:hover {
				background: #96010D;
			}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	background:url(../image/menu_split.gif) no-repeat right top;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:21px 0;
	width:189px;
	font-size:16px;	
	line-height:18px;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
	font-variant: small-caps;
	text-align:center;
}

.menu_nav ul li a .menu_nav ul li a:hover{
	text-decoration:none;
	background:#96010D repeat-x left top;
}
.content {
	border-bottom:1px solid #96010D;
	position: relative;
}
.content_resize {
	margin:0 auto;
	padding:24px 0;	
	position: relative;
}
.content .shopping_card{
	margin-left: 20px;
	padding:5 5 5 5 ;
	float:left;
	width:230px;
	height:auto;
	border-style:groove;
	border-color:#980000;
	border-width:5px;	
    border-radius: 25px; 
	position: relative;
}
.content .sidebar {
	margin-left: -240px;
	margin-top: 200px;
	padding:0;
	float:left;
	width:230px;
	height:600px;
	border-style:groove;
	border-color:#980000;
	border-width:5px;	
    border-radius: 25px; 
	position: relative;
}
.content .sidebar .gadget {
	margin:0 0 10px;
	padding:0 0 0 10px;
}
.content .sidebar h2 {
	color:#980000;
	font-weight:bold;
}
.content .main{
	float:right;
}
ul.sidebar_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sidebar_menu li {
	margin:0;
}
ul.sidebar_menu li {
	padding:4px 0;
	width:220px;
}
ul.sidebar_menu li a {
	color:#9a9a9a;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
	position: relative;
}
ul.sidebar_menu li a:hover {
	color:#980000;
	font-weight:bold;
	text-decoration:none;
}
ul.slidebar_submenu{
	list-style:none;
	position: relative;
}
ul.slidebar_submenu li{
	padding-left:20px;
	position: relative;
}
.content .main_text {
	margin-left: 300px;
}
.content .main_text h1{
	padding-left: 40px;
	color: #980000;
}
.content .main_text h2{
	padding-left: 40px;
	color: #980000;
}
.content .slider {
	height: 480px;
	width: 950px;
    overflow:hidden;
    margin-left: 40px;
	position: relative;
}
.content .slider img{
	width:850px;
	height:400px;
	display:none;
	position: relative;
	border-color: white;
	box-shadow:10px 10px 20px #000000;
}
.content .product .product_lists{
	margin-left: -60px;
	margin-top: -90px;	
}
.content .product_lists{
	width: 960px; 
	height: 450px;
}
.content .product_lists td img{
	position: relative;
	border: 2px solid #980000;
	border-radius:20px;	
	box-shadow:10px 10px 20px #000000;
}
.content .product_lists td img:hover{
	opacity:0.4;
	filter:alpha(opacity=40);
}
.content .product_lists .product_details {	
	height: 50px;	
	text-align:center;
}
.content .product_lists .product_details input#detailsBtn{
	border:2px groove #D8D8D8;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding: 5px 25px;
	/*give the background a gradient*/
	background-color:#000000; /*required for browsers that don't support gradients*/
	background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#000000));
	background: -webkit-linear-gradient(top, #D8D8D8, #000000);
	background: -moz-linear-gradient(top, #D8D8D8, #000000);
	background: -o-linear-gradient(top, #D8D8D8, #000000);
	background: linear-gradient(top, #D8D8D8, #000000);
	/*style to the text inside the button*/
	font-family:Andika, Arial, sans-serif; 
	color:#fff;
	font-size:1.1em;
	letter-spacing:.1em;
	font-variant:small-caps;
	/*give the corners a small curve*/
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	/*add a drop shadow to the button*/
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;	
}
.content .product_lists .product_details input#detailsBtn:hover, input#detailsBtn:focus{
	color:#edebda;
	/*reduce the spread of the shadow to give a pushed effect*/
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}
.content .product_lists .product_details input#addChartBtn{
	border:2px groove #7c93ba;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding: 5px 25px;
	/*give the background a gradient*/
	background-color:#000000; /*required for browsers that don't support gradients*/
	background: -webkit-gradient(linear, left top, left bottom, from(#88add7), to(#000000));
	background: -webkit-linear-gradient(top, #88add7, #000000);
	background: -moz-linear-gradient(top, #88add7, #000000);
	background: -o-linear-gradient(top, #88add7, #000000);
	background: linear-gradient(top, #88add7, #000000);
	/*style to the text inside the button*/
	font-family:Andika, Arial, sans-serif; 
	color:#fff;
	font-size:1.1em;
	letter-spacing:.1em;
	font-variant:small-caps;
	/*give the corners a small curve*/
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	/*add a drop shadow to the button*/
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;	
}
.content .product_lists .product_details input#addChartBtn:hover, input#addChartBtn:focus{
	color:#edebda;
	/*reduce the spread of the shadow to give a pushed effect*/
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}
a.image_text {
	position: relative;
	width: 280px;
	text-decoration: none !important;
	text-align: center;
}
a.image_text:after {
	content: attr(title);
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0.5em 20px;
	width: 244px;
	background: rgba(0,0,0,0.8);
	text-decoration: none !important;
	color: #fff;
	opacity: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
a.image_text:hover:after, a.image_text:focus:after {
	opacity: 1.0;
}
.content .item{	
	width: 960px; 
	height: auto;		
}
.content .item #item_details{
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	width:100%;
	border-collapse:collapse;		
}
.content .item #item_details td{
	font-size:1em;
	border:1px solid #000000;
	padding:3px 7px 2px 7px;	
}
.content .item #item_details tr.alt td {
	color:#000000;
	background-color:#980000;
	opacity: 0.3;
}
.content .item .zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
	background:url(../image/icon.png);
}
.content .item .zoom img {
	display: block;
}
.content .item .zoom img::selection { 
	background-color: transparent; 
}
.content .main_text .size_chart .sizeC{	
	width: 900px;
	height: auto;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	width:100%;
	border-collapse:collapse;
}
.content .main_text .size_chart .sizeC td{
	font-size:1em;
	border:1px solid #ffffff;
	padding:3px 7px 2px 7px;
}
.content .main_text .size_chart .sizeC #first_col{
	color:#000000;
	background-color:#980000;
	opacity: 0.8;
}
.gallery_title {	
	width: 950px;
	height: 50px;	
}
.gallery_title h1{
	padding-left: 400px;
}
.dg-container{
	margin-top: 100px;
	margin-left: 40px;
	width: 950px;
	height: 450px;
	position: relative;
}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;	
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 41px 0px 0px 1px;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../image/gallery/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}
.content .product{
	margin-left: 40px;
	margin-top: 50px;	 
	height: 480px;
	width: 850px;
}
.content .delivery{
	margin-left: 50px;
	margin-top: 30px;	 
	height: 480px;
	width: 850px;
}
.content_bg{
	alignment-adjust:central;
	background-color:#fff;
	border-radius:15px;
}
.formSection
{ float:left;
	width: 70%;
	padding-left:80px;
	display: inline;
}
fieldset {
    font-family: sans-serif;
    border: 2px groove #630;
	border-radius:25px;
	background-color:#ECECEC;	
}
fieldset legend {	
    background:#903;
    color: #fff;
    padding: 5px 10px ;
    font-size: 24px;
    border-radius: 8px;
	box-shadow: 0 0 0 5px #c1afa7;    
    margin-left: 20px;
}
label
{
width: 200px;
padding-right:30px;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
font-family:"Comic Sans MS", cursive;
font-size:16px;
}

[type="submit"] {  
clear: left;

margin-left:200px;
font-size:18px;  
}  
[type="reset"] {  
clear:right;  
  
font-size:18px;  
}
b {color:red;}
.footerBg {
	background:#000000;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	position: static;
}
.footerBg_resize {
	margin:0 auto;
	width:960px;
	padding:24px 0;
}
.footerBg h2 {
	color:#980000;
	padding-bottom:24px;
}
.footerBg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	background-color:#fff;
	border:1px solid #dfdfdf;
}
.footerBg .column {
	margin:0;
	float:left;
}
.footerBg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.footerBg .c2 {
	padding:0 36px 0 16px;
	width:300px;
}
.footerBg .c3 {
	padding:0 0 0 16px;
	width:296px;
}
.footerBg .footerBg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.footerBg .footerBg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.footerBg .footerBg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#6d6d6d;
	text-decoration:none;
	background:url(../image/li.gif) no-repeat left center;
}
.footerBg .name-bg{
	height:26px;
	width:303px;
}
.footerBg .email-bg{
	height:26px;
	width:303px;
	text-align:top;
}
.footerBg .comment-bg{
	height:82px;
	width:303px;
}
.footer {
	background:#fff;
	border-top:1px solid #c7c7c7;
}
.footer_resize {
	margin:0 auto;
	padding:12px 0;
	width:960px;
	line-height:1.2em;
	color:#6d6d6d;
}
.footer_resize p {
	margin:2px 0;	
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#6d6d6d;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#6d6d6d;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
a {
	outline:none;
}
.bx-wrapper .testimonials-thumbnail{ margin: 0px 0px 15px; }
.bx-wrapper .testimonials-title{ text-align: center;  margin: 25px 15px 3px; font-size: 24px; line-height: 1; }
.bx-wrapper .testimonials-carousel-thumbnail{ max-width: 35%; float: left; margin-right: 20px; }
.bx-wrapper .testimonials-carousel-thumbnail img{ display: block;   margin-right: 20px;width: 100px;}
.bx-wrapper .testimonials-carousel-context{ overflow: hidden; }
.bx-wrapper .testimonials-name{ font-size: 18px; margin-bottom: 15px; color:#ffffff; font-weight:400;}
.bx-wrapper {position: relative;margin: 30px auto;padding: 0;width:100%;*zoom: 1;}
.bx-wrapper .slide {padding:0;margin:0;display: block;}
.bx-wrapper .bx-viewport {padding:10px;margin-left:0;z-index:1;width:100%;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {position: absolute;display:none;bottom: -30px;width: 100%;}
.bx-wrapper .bx-loading {min-height: 50px;background: url(images/bx_loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
.bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-weight: bold;color: #666;padding-top: 20px;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}
.bx-wrapper .bx-pager.bx-default-pager a {background: #666;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {background: #000;}
.bx-wrapper .bx-controls-direction a {position: absolute;top: 0;margin-top: 0;margin-right: 0px;outline: 0;width: 30px;height: 30px;text-indent: -9999px;z-index: 9999;}
.btnOrder{
	background-image:url(../image/deliver/order_btn.png);
	background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 150px;
    height: 26px;
    border: 0px;
    background-color: none;
    cursor: pointer;
    outline: 0;
}
.btncheckout{
	background-image:url(../image/deliver/checkout_btn.png);
	background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 150px;
    height: 26px;
    border: 0px;
    background-color: none;
    cursor: pointer;
    outline: 0;
	float:left;
	margin-left:10;
}
.btnback{
	background-image:url(../image/deliver/back.png);
	background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 150px;
    height: 26px;
    border: 0px;
    background-color: none;
    cursor: pointer;
    outline: 0;
}
.btnOrder:hover{ 
      background-position:  0px 1px;
}

.btnOrder:active{
      background-position:  0px 25px;
}
.btnback:hover{ 
      background-position:  0px 1px;
}

.btnback:active{
      background-position:  0px 25px;
}
.btncheckout:hover{ 
      background-position:  0px 1px;
}

.btncheckout:active{
      background-position:  0px 25px;
}